# Data Science Tools and Ecosystem

# Some of the popular languages that Data Scientists use are:

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

In [ ]:
| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Zeppelin          |

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Zeppelin          |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [8]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
result

17

In [9]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

**Objectives:**

- List popular languages for Data Science.
- List commonly used libraries in Data Science.
- Create tables and code examples in Python.
- Understand basic arithmetic operations in Python.
- Share the notebook via GitHub.

## Author
ABARHANE MOUAD